<div class="search-wrapper">
<h3 style="color: lightskyblue;">Search Reports</h3>	
<p style="float: right;">If you are not happy with the results, you can always <a href="/search/search">search again</a>.
</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Patent Numbers</th>
        <th>Date added</th>
        <th>HTML</th>
        <th>PDF</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody>
   	  <% @result.each do |patent|%>	 	
      <tr>
        <td><%= patent.type %></td>
        <td><%= patent.patent_name %></td>
        <td><%= patent.single_patent_num %></td>
        <td><%= patent.created_at %></td>
        <td><%= patent.html_link %></td>
        <td><%= patent.pdf_link %></td>
        <td style="text-align: center;"><img src="/Crystal_Clear.png" height="15" width="15"></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @result %>
</div>
