<h1> Patent - API Test Case Result</h1>

<fieldset>
 <legend>Request data</legend>
 <p>
  <strong>Onepager Id : </strong>
  <%= @patent[:onepager_id] %>
</p>
<p>
  <strong>Patent number : </strong>
  <%= @patent[:patent_number] %>
</p>

<p><strong>Onepager name : </strong>
<%= @patent[:onepager_name]  %>
</p>
</fieldset>


<fieldset>
  <legend>Response data</legend>
  <p>
    <textarea cols="100" rows="4" name="responseresult">
      <%= @res %>
    </textarea>
  </p>
</fieldset>

<p>
<%= link_to 'Back to Patent API test', '/apitest/patent/' %> |
<%= link_to 'Back to Main', '/apitest/' %>
</p>