<div class="row">
  <div class="span6">
    <%= form_for(@one_pager) do |f| %>

    	<%= f.label :'Report name: ' %>
  		<%= f.text_field :patent_name %>

  		<%= f.label :'Patent number: ' %>
  		<%= f.text_field :single_patent_num %>

  		<% if !signed_in? %>

      		<%= f.label :'Your e-mail: ' %>
      		<%= f.text_field :email %>

  		<% end %>

  		
     	<%= f.submit "Continue to step 3", class: "btn btn-primary"  %>
    <% end %>

    
  </div>
</div>