<div class="one_pagers-wrapper">
	<div class="progbar navbar">
       <div class="navbar-inner" style="padding: 0;">
         <div class="container" >
           <ul class="nav" style="margin: 0; display: table; width: 100%;" >
             <li ><a href="/one_pagers">Step1: Select Report</a><div /></li>
             <li ><%= link_to "Step2: Introduce Information" ,{ controller: "one_pagers", action: "new" , report: @one_pager.type} %><div /></li>
             <li  class="active" > <a href="#">Step3: Results</a><div /></li>
           </ul>
         </div>
       </div>
   </div>
  <p style="color: lightskyblue;">One Pager Results</p>
  <% if (@one_pager.mig_status == "Approved") %>
  <p>Your report is ready for download! We have also sent you the links via e-mail in case you want to donwload it later.
    As a registered user, you can also see previous reports in <%= link_to 'account management', '#'%>.</p>
  <% else %>
  <p>The requested report must be approved by the Munich Innovation Group in order to be generated. This should take no longer than 24 hours.
    We will e-mail you once it has been approved and generated with the download links.
    As a registered user, you can also check the status of your request in <%= link_to 'account management', '#'%>.</p>
  <% end %>

  

  <%= render @one_pager.type + "_result" %>
  
  <% if (@one_pager.mig_status == "Approved") %>
  
  <table class="linksTable">
  <tr>
  <td class="first"><p><%= link_to 'View as HTML' , @one_pager.html_link %></p></td>
  <td class="last" ><p><%= link_to 'Download pdf' , @one_pager.pdf_link %></p></td>
  </tr>
  </table>
  <br>
  <% end %>



  <div align="right">
    <h3><%= link_to 'Finish' , '#'%></h3>
  </div>

  


</div>