<div class="user-layout">
<% if mig_signed_in? %>
<div>
   
    <span class="topmenu highlight">Mig User Registration </span>
  </div>
  <div class="body-part">
    <div class="title-top">
        <span class="title"> Mig User Create </span>
    </div>
    <div class="middle-part">
        <p> <a href="/mig_signup">Back </a></p>

        <div class="form-part">
            <%= form_for(@mig_user) do |f| %>
	      <%= render 'shared/mig_error_messages' %>
              <p>
                 <%= f.label :email %>
                 <%= f.text_field :email %>
               </p>
               <p>
                 <%= f.label :password %>
                 <span><%= f.password_field :password %></span>
               </p>
               <p>
                 <%= f.label :password_confirmation, "Confirmation" %>
                 <%= f.password_field :password_confirmation %>
               </p>
             
               <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
    </div>
  </div>
 <% else %>
   <p>Sorry! you are not MIG Signed User</p>
 <% end %>
</div>
