<h1> Patent - API Test Case </h1>

<%= form_for :patent do |f| %>
    <p>
      <%= f.label :onepagerId %><br>
      <%= f.text_field :onepager_id %>
    </p>

    <p>
      <%= f.label :patent_number %><br>
      <%= f.text_field :patent_number %>
    </p>

    <p>
      <%= f.label :onepager_name %><br>
      <%= f.text_field :onepager_name %>
    </p>

    <p>
      <%= f.submit 'Submit' %>
    </p>
<% end %>

<p>
  <%= link_to ' Back ', '/apitest/' %>
</p>